doctype html
html(lang="da")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='static/images/favicon.ico')
    link(rel='stylesheet', href='/static/css/style.css')
    title Jakob Bilstrup
  body
    section#wrapper
      header#header
        img#avatar.2x(src='static/images/avatar.png')
        h1 Jakob Bilstrup
        h2 Keep Moving.
      p
        | This is a temporarily page, while I move to my new site.
    button#btoggle(type="button") ☰
    section#portfolio
      article#one.item
        h2 Workspace Photo
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      article.item
        h2 Project Title
        p Something about the project
      
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/static/js/main.js')
